:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .view-container{
    margin: 0 auto;
  }

  .global-menu{
    height: 5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    a{
      color: white;
      flex: 0 0;
      padding: 1rem;
    }
  }

  .SearchView{
    h1{
      margin-top: 3rem;
      text-align: center;
      font-size: 4rem;
      text-transform: uppercase;
    }

    .SearchInput, .FormPlayList{
      width: 61.804697157%; // golden proportion
      margin: auto;
      margin-bottom: 4rem;
      height: 10vh;
      display: flex;

      input{
        flex: 8 1;
        border-radius: 4px;
        border: solid 2vh #BCE5FF;
        margin: auto;
        height: 10vh;
      }
      button{
        flex: 1 1;
      }
    }

  }
}
